body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: url(pic.jpg);
    background-size: cover;
}
.Box{
    width:300px;
    padding:30px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: rgba(42, 52, 70, 0.562);
    text-align: center;
}
.Box h1
{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
.Box input[type="text"],.Box input[type="Password"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #f9fd03;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
}
.Box input[type="trxt"]:focus,.Box input[type="Password"]focus{

width: 270px;
border-color: #3cff00ec;

}
.Box input[type="Submit"]{

    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #0324fd;
    padding: 14px 35px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;

}
.Box input[type="Submit"]:hover{
    background: #3dfd03;
}
